@import url('https://fonts.googleapis.com/css?family=Heebo|Oswald');

body {
    font-family: 'Heebo', "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    background: cornsilk;
    margin: 0;
    line-height: 1.5em;
}

* {
    box-sizing: border-box;
}